.calendar-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .weekday {
        min-height: 35px;
        padding: 12px;
        text-align: center;
        background: black;
        color: white;
    }

    .day-wrapper {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding: 12px 24px;
        letter-spacing: 1px;
        font-size: 12px;
        box-sizing: border-box;
        color: black;
        position: relative;
        pointer-events: none;
        min-height: 125px;
        cursor: pointer;
        z-index: 5;

        &.today {
            background: #CCCCCC;
        }

        &.first-day {
            border-left: 1px solid black;
        }

        &.sunday {
            color: red;
        }

        &.disabled {
            cursor: not-allowed;
        }

        &-name {
            font-size: 12px;
            text-transform: uppercase;
            color: #99a1a7;
            text-align: center;
            border-bottom: 1px solid rgba(166, 168, 179, 0.12);
            line-height: 50px;
            font-weight: 500;
        }

        .schedules-wrapper {
            padding: 12px;
            margin: 8px 0;
            color: white;
            position: relative;

            .icon-wrapper {
                position: absolute;
                right: 4px;
                top: 4px;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    object-fit: contain;
                    cursor: pointer;
                    width: 20px;

                    &.delete {
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}