.header-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 15px;

    .header-info-wrapper {
        flex: 1;
        font-size: 28px;
        margin: 24px 0;
        text-transform: uppercase;
    }

    .header-month {
        margin-right: 10px;
    }

    .header-year {}

    .add-event-wrapper {
        button {
            margin: 0 6px;
        }
    }
}